<div class="flex">
    <div class="mr-4 flex-shrink-0 self-start">
        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
             class="aspect-square rounded-full w-12 sm:w-16 h-auto object-cover"/>
    </div>
    <div>
        <p class="">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita
            quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
        <div class="flex flex-row flex-wrap gap-2 items-center mt-2">
            <span class="text-indigo-700 text-sm">Lionel Jospin</span>
            <span class="rounded-full w-1 h-1 bg-neutral-400"></span>
            <span class="text-sm text-neutral-400">Le 12 mars 2024</span>
        </div>
    </div>
</div>
