<div class="flex">
    <div class="mr-4 flex-shrink-0 self-start">
        <img src="{{ profile_picture(comment.author) }}"
             class="aspect-square rounded-full w-12 sm:w-16 h-auto object-cover"/>
    </div>
    <div>
        <p class="">{{ comment.message }}</p>
        <div class="flex flex-row flex-wrap gap-2 items-center mt-2">
            <span class="text-indigo-700 text-sm">{{ comment.author.name }}</span>
            <span class="rounded-full w-1 h-1 bg-neutral-400"></span>
            <span class="text-sm text-neutral-400">{{ comment.createdAt|format_datetime('long', 'short', locale='fr') }}</span>
        </div>
    </div>
</div>
