<div class="aspect-video w-40 h-auto rounded-2xl shadow-xl overflow-hidden cursor-pointer"
     data-media-modal="#trick-media-modal-1">
    <img src="https://fastly.picsum.photos/id/389/800/800.jpg?hmac=2rKqNqli9BbUmbXVAcciq6J3L0lMQcdiX4wGUrSF4D0"
         class="w-full h-full object-cover">
</div>

<div class="media-modal" id="trick-media-modal-1">
    <div class="media-modal__overlay"></div>
    <div class="media-modal__content">
        <img src="https://fastly.picsum.photos/id/389/800/800.jpg?hmac=2rKqNqli9BbUmbXVAcciq6J3L0lMQcdiX4wGUrSF4D0"/>
    </div>
</div>
